.molest{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border: 3px solid rgb(0, 0, 0);
}
.camin{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border: 3px solid rgb(0, 0, 0);
}
.descu{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border: 3px solid rgb(0, 0, 0);
}
.sand{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border: 3px solid rgb(0, 0, 0);
}
.conte{
    background-color: #93BFCF;
}
.Body{
    background-color: #93BFCF;
}