.ins{
    width: 100px;
    height: 100px;
    margin-top: 130px
}
.fac{
    width: 100px;
    height: 100px;
}
.wp{
    width: 100px; 
    height: 100px; 
    margin-top: 130px;
}
.cor{
    width: 100px; 
    height: 100px;
}
.Body{
    background-color: #93BFCF;
}