.Kev{
    height: 350px;
    width: 350px;
}
.ter{
    color: rgb(0, 0, 0);
}
.nig{
    height: 350px;
    width: 350px;
}
.ret{
    color: rgb(0, 0, 0);
}
.Dei{
    height: 350px;
    width: 350px;
}
.play{
    color: rgb(0, 0, 0);
}
.Body{
    background-color: #93BFCF;
}